/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Neucha';
  src: url("fonts/Neucha-Regular.ttf");
}

:root {
  /*colors*/
  --white: #fff;
  --sheer-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --sheer-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100vw;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  justify-content: center;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: 'Neucha';
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0;
}

/*header*/

.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  background: var(--light);
  overflow: hidden;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.content {
  padding: 100px 0;
  width: 1110px;
  position: relative;
}

.header-title {
  margin-top: 0;
  margin-bottom: 185px;
  z-index: 2;
}

.text-orange {
  color: var(--main);
}

.img-main {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 1;
}

.header-text {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin: 0;
}

.left-text,
.right-text {
  width: 540px;
}

.bttn-more {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main);
  margin-top: 40px;
}

.bttn-more:hover {
  background-color: #EA7600;
}

/*video section*/

.video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.video-content {
  padding: 0;
  width: 1110px;
}

.video-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.video-text {
  text-align: center;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*navigation*/

.navigation {
  background-color: var(--main-dark);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 20px;
}

.card-nav-text {
  display: block;
  width: 350px;
  height: 323px;
  margin: 0;
}

.nav-text {
  font-size: 52px;
  margin: 0;
}

.card-link {
  text-decoration: none;
}

.card-link:hover .card, .card-link:hover .card-2 {
  background-color: var(--main);
}

.card-link:hover .number, .card-link:hover .subtitle, .card-link:hover .card-text {
  color: var(--white);
}

.card {
  display: block;
  width: 302px;
  height: 275px;
  background-color: var(--light);
  margin: 0;
  padding: 24px;
}

.card-2 {
  display: block;
  width: 302px;
  height: 300px;
  background-color: var(--light);
  margin: 0;
  padding: 24px;
}

.number {
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
  margin: 0;
  margin-bottom: 40px;
  color: #42413C;
}

.subtitle {
  margin: 0;
  margin-bottom: 16px;
}

.card-text {
  margin: 0;
  color: var(--dark);
}

.card-four {
  margin-bottom: 12px;
}

/*ikea effect*/

.ikea-effect {
  position: relative;
  background-color: var(--light);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ikea-effect::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.main-head {
  display: flex;
  gap: 30px;
}

.img-side {
  margin: 0;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.text-side {
  margin: 0;
}

.main-subtitle-odd {
  font-family: 'Neucha';
  font-size: 24px;
  margin: 0;
  color: var(--sheer-dark);
}

.main-title-odd {
  margin: 0;
  margin-bottom: 30px;
  color: var(--dark);
}

.main-text-odd {
  font-family: 'Neucha';
  font-size: 34px;
  color: var(--dark);
  line-height: 40.8px;
}

.main-howwork {
  margin: 0;
  margin-top: 100px;
}

.main-headingblock-odd {
  display: block;
  background: var(--brown);
  margin-bottom: 20px;
}

.main-subheading-odd {
  color: var(--white);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 10px;
}

.main-columns {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin: 0;
}

.left-text-odd, .right-text-odd {
  width: 540px;
}

/*premature optimization*/

.premature-optimization {
  position: relative;
  background-color: var(--brown);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.premature-optimization::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}
.main-head {
  display: flex;
  gap: 30px;
}

.img-side {
  margin: 0;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.text-side {
  margin: 0;
}

.main-subtitle-even {
  font-family: 'Neucha';
  font-size: 24px;
  margin: 0;
  color: var(--sheer-white);
}

.main-title-even {
  margin: 0;
  margin-bottom: 30px;
  color: var(--white);
}

.main-text-even {
  font-family: 'Neucha';
  font-size: 34px;
  color: var(--white);
  line-height: 40.8px;
}

.main-howwork {
  margin: 0;
  margin-top: 100px;
}

.main-headingblock-even {
  display: block;
  background: var(--white);
  margin-bottom: 20px;
}

.main-subheading-even {
  color: var(--brown);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 10px;
}

.main-columns {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin: 0;
}

.left-text-even, .right-text-even {
  width: 540px;
  color: var(--white);
}