/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("fonts/Neucha-Regular.ttf");
}

:root {
  /* colors */
  --white: #fff;
  --sheer-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --sheer-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100vw;
  justify-content: center;
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.6em;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: Neucha;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0;
}

/* header */

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background: var(--light);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.content {
  width: 1110px;
  position: relative;
  padding: 100px 0;
}

.header-title {
  position: absolute;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 185px;
}

.text-orange {
  color: var(--main);
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: 1;
}

.header-text {
  display: flex;
  column-count: 2;
  margin: 0;
  margin-top: 443px;
  column-gap: 30px;
}

.left-text,
.right-text {
  width: 540px;
}

.bttn-more {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  background-color: var(--main);
}

.bttn-more:hover {
  background-color: #ea7600;
}

/* video section */

.video-section {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.video-content {
  width: 1110px;
  padding: 0;
}

.video-title {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.video-text {
  margin-bottom: 30px;
  text-align: center;
}

.video {
  position: absolute;
  display: block;
  top: 329px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

/* navigation */

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 505px;
  background-color: var(--main-dark);
}

.card-content {
  position: relative;
  width: 1110px;
  padding: 200px 0;
  padding-bottom: 100px;
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 20px;
}

.card-nav-text {
  display: block;
  width: 350px;
  height: 323px;
  margin: 0;
}

.nav-text {
  margin: 0;
  font-size: 52px;
}

.card-link {
  text-decoration: none;
}

.card-link:hover .card,
.card-link:hover .card-2 {
  background-color: var(--main);
}

.card-link:hover .number, 
.card-link:hover .subtitle, 
.card-link:hover .card-text {
  color: var(--white);
}

.card {
  display: block;
  width: 302px;
  height: 275px;
  background-color: var(--light);
  margin: 0;
  padding: 24px;
}

.card-2 {
  display: block;
  width: 302px;
  height: 300px;
  background-color: var(--light);
  margin: 0;
  padding: 24px;
}

.number {
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
  margin: 0;
  margin-bottom: 40px;
  color: #42413C;
}

.subtitle {
  margin: 0;
  margin-bottom: 16px;
}

.card-text {
  margin: 0;
  color: var(--dark);
}

.card-four {
  margin-bottom: 12px;
}

/*ikea effect*/

.section-1 {
  position: relative;
  background-color: var(--light);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.section-1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.ikea-effect {
  padding: 100px 0;
  width: 1110px;
}

.main-head {
  display: flex;
  gap: 30px;
}

.img-side {
  margin: 0;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.text-side {
  margin: 0;
}

.main-subtitle-odd {
  font-family: 'Neucha';
  font-size: 24px;
  margin: 0;
  color: var(--sheer-dark);
}

.main-title-odd {
  margin: 0;
  margin-bottom: 30px;
  color: var(--dark);
}

.main-text-odd {
  font-family: 'Neucha';
  font-size: 34px;
  color: var(--dark);
  line-height: 40.8px;
}

.main-howwork {
  margin: 0;
  margin-top: 100px;
}

.main-headingblock-odd {
  display: block;
  background: var(--brown);
  margin-bottom: 20px;
}

.main-subheading-odd {
  color: var(--white);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 10px;
}

.main-columns {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin: 0;
}

.left-text-odd, .right-text-odd {
  width: 540px;
}

/*premature optimization*/

.section-2 {
  position: relative;
  background-color: var(--brown);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section-2::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.premature-optimization {
  padding: 100px 0;
  width: 1110px;
}

.main-head {
  display: flex;
  gap: 30px;
}

.img-side {
  margin: 0;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.text-side {
  margin: 0;
}

.main-subtitle-even {
  font-family: 'Neucha';
  font-size: 24px;
  margin: 0;
  color: var(--sheer-white);
}

.main-title-even {
  margin: 0;
  margin-bottom: 30px;
  color: var(--white);
}

.main-text-even {
  font-family: 'Neucha';
  font-size: 34px;
  color: var(--white);
  line-height: 40.8px;
}

.main-howwork {
  margin: 0;
  margin-top: 100px;
}

.main-headingblock-even {
  display: block;
  background: var(--white);
  margin-bottom: 20px;
}

.main-subheading-even {
  color: var(--brown);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 10px;
}

.main-columns {
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin: 0;
}

.left-text-even, .right-text-even {
  width: 540px;
  color: var(--white);
}

/*distortion of novelty*/

.section-3 {
  position: relative;
  background-color: var(--light);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.section-3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.distortion-of-novelty {
  padding: 100px 0;
  width: 1110px;
}

/*hyperbolic depreciation*/

.section-4 {
  position: relative;
  background-color: var(--brown);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section-4::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.hyperbolic-depreciation {
  padding: 100px 0;
  width: 1110px;
}

/*errors in planning*/

.section-5 {
  position: relative;
  background-color: var(--light);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.section-5::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.errors-in-planning {
  padding: 100px 0;
  width: 1110px;
}

/*footer*/

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  background: var(--white);
}

.subscription {
  display: flex;
  background-color: var(--main-dark);
}

.subscription-text {
  display: block;
  color: var(--white);
  margin: 0;
  margin: 55px 122px 55px 55px;
}

.subscription-form {
  margin: 38px 55px 40px 0;
}

.form-label {
  display: block;
  color: var(--white);
  font-size: 18px;
}

.form-input {
  height: 20px;
  width: 403px;
  padding: 15px;
  border: none;
}

.form-input::placeholder {
  font-size: 13.1px;
  color: #757575;
  opacity: 0.2;
}

.bttn-send {
  position: relative;
  height: 50px;
  width: 70px;
  background-color: var(--main);
  padding: 0;
  border: none;
}

.bttn-send::before {
  position: absolute;
  content: '';
  background-image: url("images/send.svg");
  background-repeat: no-repeat;
  top: 13.5px;
  right: 23.5px;
  bottom: 13.5px;
  left: 23.5px;
  margin: auto;
  border: none;
}

.bttn-send:hover {
  background: #EA7600;
  cursor: pointer;
}

.input-bttn {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.form-small-text {
  font-size: 12px;
  color: var(--white);
}

.form-small-text-link {
  color: var(--white);
}

.contact-info {
  margin-top: 60px;
  text-align: center;
}

.contact-info-text {
  font-size: 14px;
  margin-top: 16px;
}

.contact-info-link {
  color: #007DC1;
}